* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header img {
  width: 30px;
}
.header {
  background-color: antiquewhite;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header a {
  color: black;
  padding-left: 30px;
  display: flex;
}
button {
  background-color: #077548;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.main img {
  width: 100%;
}
.main1 {
  padding: 40px;
}
.footer {
  padding: 30px;
  background-color: white;
}
